<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* common section */
  .common__title {
    font-size: 30px;
    font-weight: bold;
    color: #001F51;
    text-align: center;
  }
  /* end common section */
  .container {
    max-width: 900px;
    margin: auto;
  }
  .grid__ad__page__area {
    background-color: white;
  }
  .grid__ad__page{
    border: 1px solid black;
  }
  .grid__ad__page__section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .grid__ad__page__title {
    font-size: 40px;
    color: #3D3D3D;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  
  
</style>
{% style %}

{% endstyle %}

<section class="grid__ad__page__area container">
  <div class="grid__ad__page__section">
    <div class="container">
      <h1 class="grid__ad__page__title">{{ section.settings.grid__ad__page__title }}</h1>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Grid__Ad Page",
    "settings": [
      {
        "type": "text",
        "id": "grid__ad__page__title",
        "default": "Button",
        "label": "Grid Ad Page"
      }
    ],
    "blocks": [
      {
        
      }
    ],
    "presets": [
      {
        "name": "Grid Ad Page"
      }
    ]
  }
{% endschema %}


