<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* common section */
  .common__title {
    font-size: 30px;
    font-weight: bold;
    color: #001F51;
    text-align: center;
  }
  /* end common section */
  .container {
    max-width: 900px;
    margin: auto;
  }
  .lets_grow {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #F3F3F3;
  }
  .lets_grow h1 {
    max-width: 730px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
  .lets_grow_btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ED1479;
    gap: 10px;
    padding: 0 30px;
    transition: 0.5s;
  }
  .lets_grow_btn:hover {
    background-color: #ED1479;
    color: white !important;
  }
  .lets_grow_btn:hover a {
    color: white !important;
  }
  .lets_grow_btn:hover svg {
    color: white !important;
  }
  .lets_grow_btn a {
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: #ED1479;
    font-weight: bold;
    transition: 0.5s;
  }
  .lets_grow_btn svg {
    width: 30px;
    margin-top: 10px;
    color: #ED1479;
    transition: 0.5s;
  }


</style>
{% style %}

{% endstyle %}
<section class="">
  <div class="lets_grow">
    <h1>{{ section.settings.lets_grow_text }}</h1>
    <div class="lets_grow_btn">
      <a href={{ section.settings.lets_grow_btn_link }}>
        {{ section.settings.lets_grow_btn_text }}
      </a>
      <span class="button__one__btn__icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </span>
    </div>
  </div>

</section>


{% schema %}

  {
    "name": "lets_grow",
    "settings": [
      {
        "type": "text",
        "id": "lets_grow_text",
        "label": "Title",
        "default": "lets_grow_text"
      },
      {
        "type": "text",
        "id": "lets_grow_btn_text",
        "label": "Button Text",
        "default": "Button text"
      },
      {
        "type": "url",
        "id": "lets_grow_btn_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "lets_grow"
      }
    ]
  }

{% endschema %}